# Dependency directories
node_modules/
.pnp/
.pnp.js

# Build files
build/
dist/
out/
*.log
*.tgz
*.tar.gz

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE directories and files
.idea/
.vscode/
*.iml
*.ipr
*.iws
